@keyframes rotate-down {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotate-up {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-up {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.collapse {
    margin: 10px 0;
    padding: 0.9em 0.1em;
    z-index: 1;
    width: 100%;
    margin: 0px auto;

}

.collapse-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
    list-style: none;
    cursor: pointer;
    padding: 0.5em 0.1em 0.5em 0.5em;
    border: 1px solid transparent;
    border-radius: 5px;
}

.collapse-title i {
    margin-left: auto;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.collapse[open] .collapse-title i {
    animation: rotate-down 0.3s ease-in-out forwards;
}

.collapse:not([open]) .collapse-title i {
    animation: rotate-up 0.3s ease-in-out forwards;
}

.collapse-content {
    padding: 20px;
    background-color: var(--grey);
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
}

.collapse-content ul {
    margin: 0;
    padding: 0;
}

.collapse-content p {
    margin: 0;
}

.collapse-content li {
    margin-bottom: 5px;
    list-style: none;
}

.collapse[open] .collapse-content {
    max-height: 1000px;
    /* Adjust as needed */
    opacity: 1;
    transform: translateY(0);
    animation: slide-down 0.3s ease-in-out forwards;
}

.collapse:not([open]) .collapse-content {
    animation: slide-up 0.3s ease-in-out forwards;
}

