[id=home] {
  width: 90%;
  margin: 0 auto;
  
    accommodation-card {
        width: 100%;
    }
}

  @media (min-width: 1200px) {
    [id='home'] {
      margin: 20px auto;
    }

    .accomodation-list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      background-color: var(--grey);
      padding: 30px;
      border-radius: 10px;
    }
    .accommodation-card {
      width: calc((100% - 60px) / 3);
    }
  }







