@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --primary-color: #FF6060;
  --secondary-color: #e3e3e3;
  --white: #ffffff;
  --black: #000000;
  --grey : #fafafaec;
}

body {
  margin: 0;
}

h2 {
  margin: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
}




